body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(230, 218, 218);
}

.container {
  width: 100vw;
  height: 100%;

  margin: 10px;

  /* gap: 100px; */

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
}


#gameContainer {
  display: flex;
  flex-direction: column;

  width: 60%;

  align-items: center;

  position: relative;
}

/* #messageWindow {

  width: 200px;
  height: auto;
  margin-left: 20px;

  background-color: rgba(0, 0, 0, 0.8);
  border: 4px solid #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

  color: #fff;
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  display: none;
} */

/* Pour les écrans mobiles (moins de 768px) */
@media (max-width: 767px) {
  #gameContainer {
    width: 90%;

    flex-direction: column; /* Change la direction : les éléments sont empilés */
    align-items: center; /* Centre les éléments */
  }

  /* #messageWindow {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
    text-align: center;
  } */
}

#scoreandtimeBoard {
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 3rem;

  /* width: 40%; */
  justify-content: space-between;
}

#scorediv {
  display: flex;
  flex-direction: column;

  align-items: center;
}

#timediv {
  display: flex;
  flex-direction: column;

  align-items: center;
}

#scoreBoard {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: 800;
}

#timeBoard {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: 800;
}

canvas {
  border: 5px solid rgb(32, 31, 31); /* Bordure grise */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Ombre */
  background-color: black;
  display: block;
  margin: 0 auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  width: 100%; /* Pour s'adapter à l'écran */
  height: auto; /* Garde les proportions */
}


/* Style du contenu du message */
/* #messageContent {
  white-space: pre-wrap; /* Permet les sauts de ligne et les espaces */
  overflow: hidden;
  border-right: 2px solid #fff; /* Effet de curseur clignotant */

  animation: blinkCursor 0.75s steps(1) infinite;
} */

/* Animation du curseur clignotant */
@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

#countdown {
  position: absolute;
  color:rgba(0, 0, 0, 0.4);

  font-family: Arial, sans-serif;
  text-shadow: 2px 2px 120px rgba(255, 0, 0, 0.4), 0 0 100px rgba(111, 61, 133, 0.3), 0 0 150px rgba(235, 235, 92, 0.3);

  user-select: none; /* Empêche la sélection du texte */

  z-index: 10;
  animation: shakeAndShrink 1s linear infinite;
}

@keyframes shakeAndShrink {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  25% {
    transform: translate(-50%, -50%) rotate(2deg) scale(0.75);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-2deg) scale(0.5);
  }
  75% {
    transform: translate(-50%, -50%) rotate(2deg) scale(0.25);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg) scale(0);
  }
}
